.main{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  
}

.content{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background-image:url("../assets/images/background.png");
    width: 100vw;
    height: 92%;
    align-items: center;
    justify-content: center;
    margin: auto;
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        background-color: #3CBC8D;
        color: white;
      }
      .textfield {
        background-color: rgb(255, 255, 255);
        color: green;
    }
}